<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="TelaAdminisrativa.css">
    <title>Tela administrativa</title>
    <script src ="https://unpkg.com/vue"></script>
  </head>
    <body>
     <div id="app">
         <p v-bind:title="title">titulo teste</p>
         <gui-titulo titulo="Esse é meu titulo"></gui-titulo>
         <button v-if="!clicou" v-on:click="usuarioClicou">Salvar</button>
         <button v-if="clicou" v-on:click="usuarioClicou">aguarde...</button>
         <p>
            <input type="text" v-model="usuario.nome" />
         </p>
         <p>Nome: {{usuario.nome}}</p>

     </div>

     <script type="text/javascript">
         Vue.component('gui-titulo', {
             props:['titulo'] ,
             template:'<h2>{{titulo}}</h2>'
         });

         var app = new Vue({

           
             el: "#app",
             data: {
                 meuTitulo: 'Esse é meu titulo',
                 title: 'delicia cara',
                 clicou: false,
                 usuario: {nome:""}
             },
             methods: {
                 usuarioClicou: function () {
                     this.clicou = !this.clicou;
                 }

             } 
           
                          })

     </script>

                    
    </body>

 </html>