<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="TelaAdminisrativa.css">
    <title>Tela administrativa</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
   <div id="app">

       <gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>

       <input v-model="meuTitulo"/>

       <gui-tabela v-bind:titulos="['Nome','E-mail','Link do cachorro']" v-bind:registros="registros"></gui-tabela>
       <p v-once>{{meuTitulo}}</p>
       <p v-html="html"></p>
       <p>{{ 245.464366 | TratarValor }}</p>
       

   </div>

    <script type="text/javascript">
        
        Vue.component('gui-titulo', {
            props: ['titulo'],
            template:'<h2>{{titulo}}</h2>'
            
        });

        Vue.component('gui-tabela', {
            props: ['titulos', 'registros'],
            template:

            '<table style="width:100%">'+
                '<thead>'+
                    '<tr>'+
                        '<th v-for="titulo in titulos">{{titulo}}</th>'+
                        
                    '</tr>'+
                '</thead>'+
                '<tbody>'+
                    '<tr v-for="registro in registros">'+
                        '<td v-for="item in registro">{{item}}</td>'+
                    '</tr>'+
                '</tbody>'+

            '</table>'

        });

         var app = new Vue({


             el: "#app",
             data: {
                 meuTitulo: "Esse é meu titulo",
                 registros: [
                     { titulo: 'Titulo 1', descricao: 'Descrição 1', link: 'delicia.com' },
                     { titulo: 'Titulo 2', descricao: 'Descrição 2', link: 'delicia.com' },
                     { titulo: 'Titulo 3', descricao: 'Descrição 3', link: 'delicia.com' }
                 ],
                 html:'<a href="#"> Esse é um link </a>'
             },
             fiters: {
                 TratarValor: function (valor) {
                     return ('R$ ' + (valor).toFixed(2)).replace('.', ',')
                 }
             }


             

             

                          })

    </script>


</body>

</html>